body {
    background-color:#FFF;
}

h1 {
    font-family: sans-serif;
    color:orange;
    text-align:center;
    font-size: 5rem;
}

p {
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 2rem;
}

.alpha {
    color: #F00;
}

.beta {
    color: #008800;
}

a {
    text-decoration: none;
    color: #C30;
    border-width: 0px;
}
a:focus {
    border-width: 0px;
}
a:hover {
    text-shadow: 0px 0px 16px #F77;
}
a[href^="http://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 12px;
}
a[href^="https://"] {
    background: url(lock.png) center right no-repeat;
    padding-right: 15px;
}