/* Grundlayout */

body {
    font-size: 1.5em;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

.header {
    background: yellow;
    padding: 1em;
}
.content {
    background: red;
}
.nav {
    background: cyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.main {
    background: limegreen;
    box-sizing: border-box;
    padding: 1em;
    width: 60%;
}
.sidebar {
    background: darkcyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.footer {
    background: yellow;
    padding: 1em;
}


/* Ansatz 3: "display: table-cell" (optimiert) */

.content {
    display: table;
    width: 100%;
}

.nav,
.main,
.sidebar {
    display: table-cell;
}