/* Grundlayout */

body {
    font-size: 1.5em;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

.header {
    background: yellow;
    padding: 1em;
}
.content {
    background: red;
}
.nav {
    background: cyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.main {
    background: limegreen;
    box-sizing: border-box;
    padding: 1em;
    width: 60%;
}
.sidebar {
    background: darkcyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.footer {
    background: yellow;
    padding: 1em;
}


/* Ansatz 5: "display: flex" */

.content {
    display: flex;
}

/* Basierend auf http://css-tricks.com/using-flexbox/ */
.content {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
}