/* Grundlayout */

body {
    font-size: 1.5em;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

.header {
    background: yellow;
    padding: 1em;
}
.content {
    background: red;
}
.nav {
    background: cyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.main {
    background: limegreen;
    box-sizing: border-box;
    padding: 1em;
    width: 60%;
}
.sidebar {
    background: darkcyan;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.footer {
    background: yellow;
    padding: 1em;
}


/* Ansatz 2: "display: inline-block" */

.nav,
.main,
.sidebar {
    display: inline-block;
    margin-right: -0.27em; /* abhängig vom Font */
    vertical-align: top;
}

/* Gleich hohe Spalten */

.content {
    overflow: hidden;
}
.nav,
.main,
.sidebar {
    margin-bottom: -1000em;
    padding-bottom: 1001em;
}
